{% extends "default.html" %}

{% block content %}

<div>
  <p></p>
  <p class="anime">
    Welcome {{ user.username }}...<span class="cursor">|</span>
  </p>
<div>

<h2>Portfolio: Transactions</h2>
<hr>

<table>
  <tr>
    <th>User</th>
    <th>Action</th>
    <th>Date</th>
    <th>Shares</th>
    <th>Price</th>
    <th>Time</th>
    <th>&nbsp;</th>
  </tr>

  {% for t in object_list %}
  <tr>
    <td>{{ t.account }}</td>
    <td>{{ t.action }}</td>
    <td>{{ t.currency }}</td>
    <td>{{ t.number_of_stocks }}</td>
    <td>{{ t.price }}</td>
    <td>{{ t.time }}</td>
    <td><a href="{{t.id}}">
      <input type="submit" value="Edit" /></a>
    </td>
    <td><a href="{{t.id}}/delete">
      <input type="submit" value="Delete" /></a>
    </td>
  </tr>
  {% endfor %}

</table>

<br>
<form action="/portfolio/txn/create">
  <input type="submit" value="Buy">
</form>
<br>
<p class="anime"> See tomorrow's evaluation for the following Crypto </p>
<form action="/portfolio/BTC/">
  <input type="submit" value="Bitcoin">
</form>
<form action="/portfolio/ETH/">
  <input type="submit" value="Etherium">
</form>
<form action="/portfolio/LTC/">
  <input type="submit" value="Litecoin">
</form>

{% endblock %}